# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/SurvivalGame/dist
/SurvivalGame/tmp
/SurvivalGame/out-tsc
# Only exists if Bazel was run
/SurvivalGame/bazel-out

# dependencies
/SurvivalGame/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/SurvivalGame/.idea
/SurvivalGame/.project
/SurvivalGame/.classpath
/SurvivalGame/.c9/
/SurvivalGame/*.launch
/SurvivalGame/.settings/
/SurvivalGame/*.sublime-workspace

# IDE - VSCode
/SurvivalGame/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/SurvivalGame/.history/*

# misc
/SurvivalGame/.sass-cache
/SurvivalGame/connect.lock
/SurvivalGame/coverage
/SurvivalGame/libpeerconnection.log
/SurvivalGame/npm-debug.log
/SurvivalGame/yarn-error.log
/SurvivalGame/testem.log
/SurvivalGame/typings

# System Files
/SurvivalGame/.DS_Store
/SurvivalGame/Thumbs.db